* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins';
  src: url(fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: 'RougeScript';
  src: url(fonts/RougeScript-Regular.ttf);
}

body {
  font-family: 'Poppins';
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 91;
  pointer-events: none;
  background: transparent; 
}

.phone {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  padding: 0;
  animation: fadeIn 1s ease-in-out;
}

.btn{
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 5px;
  border-radius: 10px;
  border: none;
  gap: 10px;
}

.fucsia{
  background-color: #CB6CE6;
}

.verde{
  background-color: #68B164;
}

a{
  text-decoration: none;
}
.boladisco{
  max-width: 100%;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

h1 {
  font-family: 'RougeScript';
  font-size: 40px;
  font-weight: 200;
  color: #CB6CE6;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from { text-shadow: 0 0 2px #CB6CE6; }
  to   { text-shadow: 0 0 4px #CB6CE6, 0 0 15px #CB6CE6; }
}

@keyframes heartbeat {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

.dresscode{
  max-width: 100%;
}

.fa-envelope {
  animation: heartbeat 1.5s infinite;
}

.colores {
  margin-top: 20px;
}

.grupito {
  width: 100%;
}


.estrellas-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: black;
}

.estrellas {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 10px #fff4;
}

/* Colores de fondo */
.azul-oscuro {
  background-color: #0b0f6d;
}

.morado {
  background-color: #4b006e;
}

.azul-claro {
  background-color: #3ca0ff;
}

.verde-oscuro {
  background-color: #003c3b;
}


.estrellas::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: radial-gradient(rgb(255, 255, 255) 1px, transparent 1px);
  background-size: 10px 10px;
  animation: destellos 7s linear infinite;
  opacity: 0.5;
  pointer-events: none;
}

@keyframes destellos {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

.vestimenta-container {
  position: relative;
  width: 100%;
  padding: 4rem 0;
  background-color: #000; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.vestimenta-texto {
  color: white;
  z-index: 2;
}

.circulo {
  margin-top: 1rem;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.estrella {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  max-height: auto;
  z-index: 1;
}

.estrella.izquierda {
  left: 0;
  max-width: 100%;
}

.estrella.derecha {
  right: 0;
  max-width: 100%;
}


@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

a img {
  transition: transform 0.3s ease;
}

a img:hover {
  transform: scale(1.05);
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.countdown-item {
  text-align: center;
}

.countdown-item .number {
  font-size: 55px;
  font-weight: bold;
}

.countdown-item .label {
  font-size: 18px;
  margin-top: 5px;
}

.footer {
  width: 100%;
}
